@font-face {
    font-family: Open-Sans;
    src: url(../assets/fonts/OpenSans/static/OpenSans_Condensed-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: Open-Sans;
    src: url(../assets/fonts/OpenSans/static/OpenSans-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: Open-Sans;
    src: url(../assets/fonts/OpenSans/static/OpenSans-SemiBold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: Raleway;
    src: url(../assets/fonts/Raleway/static/Raleway-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: Raleway;
    src: url(../assets/fonts/Raleway/static/Raleway-SemiBold.ttf);
    font-weight: 500;
}

@font-face {
    font-family: Raleway;
    src: url(../assets/fonts/Raleway/static/Raleway-Bold.ttf);
    font-weight: 700;
}
* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
    list-style-type: none;
    font-family: 'Open-Sans', sans-serif;

}



.container {
    max-width: 1200px;
    margin: 30px auto;
    padding: 0 15px;
}

.tabs-list {
    display: flex;
}
.active-tab {
    border: 1px solid #c6cbcd;
    border-bottom: none;
    border-radius: 5px 5px 0 0;
    position: relative;
    top: 1px;
    background: white;
}
.tabs li {
    max-width: 203px;
    max-height: 40px;
    padding: 8px 72px;
    text-align: center;
    cursor: pointer;
}
.tab-content {
    border: 1px solid #c6cbcd;
    display: flex;
}

.tab-text {
    flex-direction: column;
}

.tab-text p:nth-of-type(2) {
    padding-top: 26px;
}

h3 {
    padding: 55px 29px 57px 101px;
    font-family: Open-Sans, serif;
    font-weight: 700;
    font-size: 30px;
}
.tab-text p {
    font-family: Raleway, serif;
    padding: 0 30px 0 100px;
    font-size: 18px;
    text-align: left;
}

.tab-image {
    display: flex;
    justify-content: flex-end;
}
.tab-image img {
    height: auto;
}

button.tabs-button {
    cursor: pointer;
    align-self: flex-start;
    width: 270px;
    height: 58px;
    background: #EC7979;
    border: none;
    font-size: 18px;
    color: white;
    margin: 54px 0 0 100px;
}

.section-title h2 {
    margin: 0 auto 0;
    width: 100%;
    text-align: center;
    font-family: Raleway, serif;
    font-size: 36px;
    font-weight: 400;
    text-transform: uppercase;
}

.section-title::after {
    content: "";
    display: block;
    width: 170px;
    height: 1px;
    background-color: #EC7979;
    margin: 40px auto;
}

.section-subtitle p {
    text-align: center;
    margin-bottom: 83px;
    font-family: Raleway, serif;
    font-size: 18px
}
.awesome-items {
    display: flex;
    gap: 30px;

}
.item {
    max-width: 370px;
    text-align: center;
}
.item p {
    padding-top: 24px;
    font-family: Open-Sans, serif;
    font-size: 24px;
    font-weight: 700;
}

.item p:nth-of-type(2) {
    padding-top: 30px;
    font-family: Raleway, serif;
    font-size: 18px;
    font-weight: 400;
}
.pricing-options {
    background-color: #f5f5f5;
    margin-top: 110px;
}
.pricing-items {
    display: flex;
    justify-content: center;
    padding-bottom: 83px;
    font-family: Raleway, serif;
    gap: 30px;
}

 .space {
    text-transform: capitalize;
    font-size: 18px;
    border-bottom: 1px solid #ddd;
    background-color: white;
    color: #86878b;
    padding: 15px;
}

.pricing-item-el {
    text-align: center;
    width: 370px;
    transition: 0.3s;
}

 .plan {
    background-color: #333;
    color: white;
    text-transform: none;
    font-weight: 700;
    font-size: 24px;
    padding: 15px;
}

.price {
    background-color: #333;
    color: white;
    border: 1px solid white;
    border-right: none;
    border-left: none;
    text-transform: none;
    font-size: 36px;
    font-family: Raleway, serif;
    font-weight: 700;
    padding: 15px;
}

.under-price {
    background-color: #333;
    color:#86878b;
    text-transform: none;
    font-size: 18px;
}

.pricing-item-el:hover {
    position: relative;
    bottom: 20px;
    box-shadow: 3px 5px 36px 0 rgba(0,0,0,0.75);
}

.pricing-options h2 {
    padding-top: 82px;
}

/*hasta aqui seccion pricing*/

.customers-item-list {
    display: flex;
    justify-content: center;
    padding-bottom: 83px;
    gap: 30px;
}

.customers-item {
    max-width: 370px;
    width: 100%;
    text-align: center;
}

.coment {
    padding: 38px 25px;
    background-color:#E2E2E2;
    border-radius: 10px;
    position: relative;
}
p.comment-text {
    color: #86878B;
    font-family: Raleway, serif;
    font-size: 18px;
    font-weight: 400;
}
.coment::after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 65px;
    width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 20px solid #E2E2E2;
}
.person {
    max-width: 370px;
    display: flex;
    margin-top: 46px;
    align-items: center;
}
/*.photo {
    justify-content: left;

}*/
img.comment-photo {
    width: 70px;
    height: 70px;
    border-radius: 100px;
}
.slider-menu {
    display: none;
}
.info {
    margin-left: 30px;
    flex-direction: column;
    /*align-items: flex-start;*/
}
p.name {
font-family: "Open-Sans";
font-size: 24px;
font-style: normal;
font-weight: 700;
padding-bottom: 18px;
}

p.position {
font-family: Raleway;
font-size: 18px;
font-style: normal;
font-weight: 400;
text-align: left;
}
.header-top {
    margin: 0 auto;
    padding: 0 15px;
    background-color: black;
}
.inner {
    max-width: 1200px;
    margin: 0 auto;
    display:flex;
    justify-content: space-between;
}
.logo {
    justify-content: flex-start;
    padding: 22px 0 22px 0;
}
.navigation {
    display: flex;
    margin-left: auto;
}

nav{
    display: flex;
}
.burger {
    display: none;
    position: relative;
    top: 25px;
    z-index: 50;
    align-items: center;
    justify-content: flex-end;
    width: 30px;
    height: 18px;
}

.burger span{
    height: 2px;
    width: 80%;
    transform: scale(1);
    background-color: #FAF6F2;
}

.burger::before, .burger::after{
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #FAF6F2;
    transition: all 0.3s ease 0s;
}

.burger::before { top: 0 }

.burger::after { bottom: 0 }


/* Добавляем класс active для анимации иконки бургера */
.burger.active span { transform: scale(0) }

.burger.active::before{
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
}

.burger.active::after{
    bottom: 50%;
    transform: rotate(45deg) translate(0, 50%);
}

.main {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../assets/img/main/image.png) no-repeat;
    background-size: cover;
    height: 100%;

}
.bg-container {
    padding-top: 306px;
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
}
.navigation-list {
    color: white;
    width: 120px;
    cursor: pointer;
    font-weight: 600;
    font-family: Open-Sans;
    font-size: 14px;
   padding: 28px 0 28px 0;
}

a.navigation-list-el {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s;
    text-align: center;
}

a.navigation-list-el:hover {
    color: #EC7979;
}

.main-form{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 470px;
    height: 450px;
    margin-left: auto;
    align-items: center;
    border-radius: 10px;
}

img.main-logo{
    height: 55px;

}

h1.main-title {
    max-width: 680px;
    color: #FFF;
    font-family: Raleway;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    padding-top: 72px;
}

.main-title::after {
    content: "";
    display: block;
    width: 170px;
    height: 1px;
    background-color: #ffffff;
    margin: 55px 0 42px;
}

.main-subtitle {
    max-width: 270px;
    /*text-align: left;*/
}

p.main-subtitle {
    color: white;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 42px;
}

#bg-download {
    display: flex;
    margin-left: 0;
    margin-bottom: 180px;
    border: 1px solid white;
    width: 270px;
    height: 60px;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: Open-Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    text-decoration: none;
    /*transition: color border-color 0.5s;*/
    transition: all 0.5s;
}

#bg-download:hover {
    color: #EC7979;
    border-color: #EC7979;
}

.social {
    margin-top: -30px;
    background-color: #F8EFEF;
    height: 140px;
}
.social-content {
    display: flex;
    padding-top: 32px;
    justify-content: space-between;
}

.social-icons-list {
    display: flex;
    gap: 30px;
}

.social-icon-el {
    transition: all 0.5s;
}

.social-icon{
    color: #CCCCCC;
}

svg:hover {
    fill: #EC7979;
}

svg:active {
    fill: #ea3838
}

p.social-title {
    color: #333;
    font-family: Open-Sans, serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    margin-bottom: 16px;
}

p.social-subtitle {
    color: #86878B;
    font-family: Raleway, serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    max-height: 42px;
    overflow: hidden;


}

.stylish {
    position: relative;
    height: 425px;
    background: url(/ALL/assets/img/axur/1bg.png);
}

.stylish::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: black;
    opacity: 50%;
    z-index: 1;
}

.stylish-content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 2;
}

.stylish-title {
    color: #FFF;
    text-align: center;
    font-family: Raleway;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    padding-top: 70px;
}

.stylish-title::after {
    display: block;
    content: "";
    width: 170px;
    height: 1px;
    background-color: white;
    margin: 40px auto;
}

.stylish-subtitle {
    color: #FFF;
    text-align: center;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}

#stylish-download {
    display: flex;
    margin: 0 auto;
    border: 1px solid white;
    width: 370px;
    height: 58px;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: Open-Sans, serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    text-decoration: none;
    /*transition: color border-color 0.5s;*/
    transition: all 0.5s;
    margin-top: 80px;
}

#stylish-download:hover {
    color: #EC7979;
    border-color: #EC7979;
}

.footer {
    background-color: black;
    max-width: 100%;
    height: 100%;
}

.footer-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 35px;

}

.footer-icons-list {
    display: flex;
    gap: 32.5px
}

.footer-svg {
    color: #CCCCCC;
}

.footer-text {
    padding-top: 27px;
    display: inline-block;
    color: white;
    text-align: center;
    padding-bottom: 27px;
}

.footer-icos-el {
    transition: all 0.5s;
}

.footer-icos-el:hover {
    cursor: pointer;
}

.form-title {
    display: flex;
    max-width: 100%;
    text-transform: uppercase;
    text-align: center;
    font-size: 24px;
    padding-top: 36px;
    padding-left: 53px;
    padding-right: 50px;
    font-weight: 700;
}

.content-form {
    display: flex;
}
.top-form {
    margin-top: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.top-form input {
    padding-bottom: 17px;
    width: 370px;
    border: none;
    border-bottom: 1px solid #BDBDBD;
    color: #BDBDBD;
    font-family: Open-Sans, serif;
    font-size: 14px;
    outline: none;
}

.top-form-button {
    margin-top: auto;
    display: flex;
    width: 100%;
    height: 60px;
    justify-content: center;
    font-family: Open-Sans, serif;
    font-size: 15px;
    color: white;
    background-color: #EC7979;
    align-items: center;
    outline: none;
    border: none;
    border-radius: 0 0 10px 10px / 25px 25px 10px 10px;
    cursor: pointer;
}

.colortext {
    color: #EC7979;
}

.form-container {
    display: flex;
    gap: 30px;
}

.form-field-form-el {
    width: calc(50% - 15px);
    display: flex;
    flex-direction: column;
    gap: 50px;
    font-size: 18px;
}

.form-field-form-el input {
    border: none;
    border-bottom: 1px silver solid;
    padding-bottom: 16px;
}

.form-field-form-el textarea {
    width: 100%;
    height: 100%;
    border: none;
    border-bottom: 1px silver solid;
    resize: none;
}

.down-form-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    width: 370px;
    height: 58px;
    cursor: pointer;
    background-color: #EC7979;
    color: white;
    border: none;
    font-size: 18px;
    font-weight: 600;

}

@media (min-width: 876px) and (max-width: 1250px) {
    .main-content {
        padding-left: 100px;
        max-width: 453px;
    }
    h1.main-title {
        font-size: 36px;
        line-height: 42px;
        padding: 37px 0 41px 0;
        max-width: 453px;
    }
    img.main-logo {
        width: 115px;
    }
    .main-title::after {
        width: 115px;
        margin: 41px 0 0;
    }
    p.main-subtitle {
        max-width: 183px;
        font-size: 14px;
    }
    #bg-download {
        width: 183.099px;
        height: 50px;
        margin-bottom: 131px;
    }
    .main-form {
        width: 398px;
        margin-right: 20px;
    }
    .form-title {
        font-size: 18px;
    }
    .top-form input {
        max-width: 100%;
    }
    .top-form input {
        max-width: 298px;
    }
    .container {
        width: 100%;
    }
    p.social-title {
        font-size: 18px;

    }
    p.social-subtitle {
        font-size: 14px;
        max-height: 32px;
    }
    svg.social-icon {
        width: 64px;
        height: 64px;
    }
    .tab-text {
        padding: 20px 26px 0 85px;
        max-width: 65%;
    }
    h3 {
        padding: 0;
        padding-bottom: 58px;
        font-size: 24px
    }
    .tab-text p {
        padding: 0;
        font-size: 14px;
    }
    button.tabs-button {
        margin: 0;
        font-size: 18px;
        font-family: "Open-Sans", serif;
        margin-top: 38px;
        margin-bottom: 40px;
        width: 231px;
        height: 58px;
    }
    .tab-image img {
        height: 100%;
        width: 100%;
    }
    .tab-content {
        height: 100%;
    }
    .section-title h2 {
        font-size: 24px;
    }
    .section-title::after {
        width: 142px;
        margin-top: 32px;
        margin-bottom: 32px;
    }
    .section-subtitle p {
        font-size: 14px;
        margin-bottom: 32px;
    }
    .item p {
        font-size: 18px;
    }
    .item p:nth-of-type(2) {
        font-size: 14px;
    }
    .awesome-items {
        gap: 20px;
    }
    .customers-item-list {
        gap: 20px;
    }
    .slider-menu {
        display: none;
    }
    p.comment-text {
        font-size: 14px;
        padding: 50px 30px 50px 30px;
        width: 100%;
    }
    img.comment-photo {
        width: 63px;
        height: 63px;
    }
    p.name {
        font-size: 18px;
    }
    p.position {
        font-size: 14px;
    }
    .coment {
        padding: 0;
    }
    .stylish-title {
        font-size: 24px;
    }
    .stylish-title::after {
        width: 142px;
        margin-top: 32px;
        margin-bottom: 32px;
    }
    .stylish-subtitle {
        font-size: 14px;
    }
    .stylish {
        height: 100%;
        background-size: 100%;
        margin-bottom: 70px;
    }
    .main {
        background-size: cover;
    }
    #stylish-download {
        width: 318px;
        height: 58px;
        margin-bottom: 50px;
        margin-top: 32px;
    }
    .down-form-button {
        width: 318px;
        height: 58px;
    }
    .form-field-form-el {
        font-size: 14px;
    }
    svg.footer-svg {
        width: 45px;
        height: 45px;
    }
    .footer-text {
        color: #FFFFFF80;
        font-size: 14px;
        padding-bottom: 30px;
    }
    .logo {
        padding-left: 100px;
    }
}

@media (max-width: 875px){

    .burger {
        display: flex
    }

    .nav {
        display: none;
        flex-direction: column;
        position: fixed;
        height: 100%;
        width: 100%;
        top: 0; bottom: 0; left: 0; right: 0;
        z-index: 50;
        overflow-y: auto;
        padding: 50px 40px;
        background-color: black;
        animation: burgerAnimation 0.4s;
    }

    .nav li{
        flex-direction: column;
        row-gap: 30px;
    }
    .main {
        background-size: cover;
        background-repeat: no-repeat;
    }
    .main-content { padding: 0; }
    .bg-container {
        flex-direction: column;
        padding: 0;
    }
    h1.main-title {
        font-size: 36px;
        font-weight: 500;
        text-align: center;
        padding: 84px 16px 0 16px;
        width: 100%;
        margin: 0 auto;
    }
    .main-title::after {
        width: 134px;
        margin: 43px auto 42px;
    }
    p.main-subtitle {
        width: 100%;
        font-size: 14px;
        margin: 0 auto;
        text-align: center;
    }
    #bg-download {
        width: calc(100% - 32px);
        margin: 42px 16px 42px 16px;
    }
    img.main-logo {
        display: none;
    }
    .main-form {
        width: calc(100% - 32px);
        margin: 0 16px 0 16px;
        height: 100%;
        margin-bottom: 51px;
    }
    .form-title {
        justify-content: center;
        font-size: 14px;
        width: calc(100% - 40px);
        padding-left: 20px;
        padding-right: 20px;
    }
    .top-form {
        width: 100%;
    }
    .top-form input {
        width: calc(100% - 40px);
    }
    .content-form {
        width: 100%;
    }
    .top-form-button {
        margin-top: 51px;
    }
    .tab-image img {
        display: none;
    }
    .social-content {
        flex-direction: column;
        width: 100%;
    }
    p.social-title {
        text-align: center;
        padding: 0;
        font-size: 18px;
    }
    p.social-subtitle {
        font-size: 14px;
        padding: 0;
        text-align: center;
        margin-bottom: 32px;
        overflow: unset;
        width: 100%;
    }
    .social-icon {
        width: 26px;
        height: 26px;
        gap: 17px;
    }
    .social-icons{
        width: 100%

    }
    .social {
        height: 100%;
    }
    .container {
        width: 100%;
        padding: 0;
    }
    .social-icons-list {
        gap: 17px;
        width: 100%;
        justify-content: center;
    }
    .tab-content {
        width: calc(100% - 32px);
        margin-left: 16px;
        margin-right: 16px;
    }
    .tabs-list {
        gap: -6px;
        margin-left: 16px;
        font-size: 14px;

    }
    .active-tab {
        padding-top: 10px;
    }
    .tabs li {
        padding: 0;
        padding-top: 10px;
        padding-left: 31px;
        padding-right: 31px;
        padding-bottom: 10px;

    }
    h3 {
        padding: 0;
        font-size: 18px;
        text-align: center;
        margin: 20px 20px;

    }
    .tab-text {
        width: 100%;
    }
    .tab-text p {
        padding: 0;
        font-size: 13px;
        text-align: center;
        margin: 20px 20px;
    }
    button.tabs-button {
        width: calc(100% - 45px);
        height: 50px;
        margin: 0 20px 30px 25px;
    }
    .awesome-items {
        flex-direction: column;
        align-items: center;

    }
    .section-title h2 {
        font-size: 18px;
        width: calc(100% - 32px);
        margin-left: 16px;
        margin-right: 16px;
    }
    .section-title::after {
        width: 134px;
    }
    .section-subtitle p {
        font-size: 14px;
    }
    .item p {
        font-size: 18px;
    }
    .item p:nth-of-type(2) {
        font-size: 14px;
    }
    .pricing-items {
        flex-direction: column;
        padding-bottom: 26px;
    }
    .pricing-item-el{
        width: calc(100% - 32px);
        margin-left: 16px;
        margin-right: 16px;
    }
    .plan {
        font-size: 18px;
    }
    .price {
        font-size: 24px;
    }
    .under-price {
        font-size: 14px;
        padding-top: 11px;
        padding-bottom: 11px;
    }
    .space {
        font-size: 14px;
    }
    /*.customer-slider {*/
    /*    display: flex;*/
    /*    overflow-x: auto;*/
    /*    scroll-snap-type: x mandatory; !* Esto asegura que los elementos se ajusten al desplazarse *!*/
    /*}*/

    /*.customers-item {*/
    /*    flex: 0 0 auto; !* Los elementos no crecen ni se encogen, pero sí pueden ser 'auto' en su base *!*/
    /*    scroll-snap-align: start; !* Alinea los elementos al inicio del contenedor al desplazar *!*/
    /*    width: 100%; !* Asumiendo que quieres que cada elemento ocupe el ancho completo del dispositivo *!*/
    /*    margin-right: 10px; !* Ajusta el margen como desees *!*/
    /*    !* Tus estilos adicionales aquí *!*/
    /*}*/
    /*.slide-left, .slide-right {*/
    /*    position: absolute;*/
    /*    top: 50%;*/
    /*    transform: translateY(-50%);*/
    /*}*/

    /*.slide-left {*/
    /*    left: 0;*/
    /*}*/

    /*.slide-right {*/
    /*    right: 0;*/
    /*}*/
    #slide2 {
        display: none;
    }
    #slide3 {
         display: none;
     }
    #slide1 {
        width: calc(100% - 32px);
        margin-left: 16px;
        margin-right: 16px;
    }
    p.comment-text {
        font-size: 14px;
    }
    p.name {
        font-size: 14px;
    }
    p.position {
        font-size: 13px;
    }
    img.comment-photo {
        width: 57px;
        height: 57px;
    }
    .stylish {
        height: 100%;
    }
    .stylish-title {
        font-size: 24px;
    }
    .stylish-subtitle {
        font-size: 14px;
        width: calc(100% - 32px);
        margin-right: 16px;
        margin-left: 16px;
    }
    .stylish-title::after {
        width: 134px;
    }
    #stylish-download {
        width: calc(100% - 32px);
        margin-left: 16px;
        margin-right: 16px;
        margin-bottom: 58px;
    }
    .form-container {
        flex-direction: column;
        margin-left: 16px;
        margin-right: 16px;
    }
    .form-field-form-el {
        width: inherit;
    }
    .down-form-button {
        width: calc(100% - 32px);
        margin-left: 16px;
        margin-right: 16px;
    }

    .form-field-form-el textarea {
        padding-bottom: 85px;
    }
    .item {
        width: calc(100% - 32px);
        margin-left: 16px;
        margin-right: 16px;
    }
    .footer-content {
        width: calc(100% - 32px);
        margin-left: 16px;
        margin-right: 16px;
    }
    .footer-icons-list {
        gap: 17px;
    }
    .footer-svg {
        width: 26px;
        height: 26px;
        gap: 17px;
    }
    .footer-text {
        font-size: 14px;
        opacity: 50%;
    }


}


@keyframes burgerAnimation {
    from {opacity: 0}
    to {opacity: 1}
}
